<div class="container h-100 mt-5">
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
          <%= bootstrap_form_for :payment, :url => success_path do |f| %>
            <div class='form-row'>
              <div class='col-md-12 form-group required'>
                <%= f.text_field :name, class: "input", required: true %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 form-group card required'>
                <%= f.number_field :card_number, class: "input", required: true %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-4 form-group cvc required'>
                <%= f.number_field :cvv, class: "input", placeholder: "ex. 311", required: true, maxlength: 3 %>
              </div>
              <div class='col-md-4 form-group expiration required'>
                <%= f.number_field :month, class: "input", placeholder: "MM", required: true %>
              </div>
              <div class='col-md-4 form-group expiration required'>
                <%= f.number_field :year, class: "input", placeholder: "YYYY", required: true %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12'>
                <div class='form-control total btn btn-info'>
                  Total:
                  <span class='amount'><%=@booking.airplane.price if @booking.airplane && @booking.airplane.price%></span>
                </div>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 form-group'>
                <button class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
              </div>
            </div>
          <% end %>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>